.col-xs-4.col-xs-offset-4
  %h2
    Submit Logs
  %h3
    Once you've submitted your logs your voyage is over
    and you will be free to take on a new command
  .bordered.padded
    .text-center
      = render 'records/form', record: @record
