- if  @game.officers.where.not(station: nil).count == 5
  .text-center
    = link_to('Launch', launch_game_path(id: @game.id), method: :post, class: 'btn btn-default btn-lg')
    %br

.container-fluid
  .row
    .col-xs-4.col-xs-offset-4
      - @game.officers.each do |officer|
        = render 'officers/form', officer: officer
